.program__list {
  list-style-type: none;
}

.program__name {
  font-family: "Oswald Regular";
  color: #111111;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program__description {
  font-family: "Arial Regular";
}
