
@font-face {
    font-family: "Oswald Medium";
    src: url("../fonts/oswaldmedium.woff"),
    url("../fonts/oswaldmedium.woff2");
}

@font-face {
    font-family: "Oswald Regular";
    src: url("../fonts/oswaldregular.woff"),
    url("../fonts/oswaldregular.woff2");
}

body {
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    font-family: "Oswald Regular", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    color: #444444;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@import "page-header/page-header.scss";

@import "page-main/page-main.scss";
@import "page-main/content-header/content-header.scss";
@import "page-main/description/description.scss";
@import "page-main/example/example.scss";
@import "page-main/example/calc/calc.scss";
@import "page-main/example/slide/slide.scss";
@import "page-main/program/program.scss";

@import "page-footer/page-footer.scss";
@import "page-footer/add-dealers/add-dealers.scss";
@import "page-footer/footer-nav/footer-nav.scss";
@import "page-footer/footer-nav/htmlacademy/htmlacademy.scss";
@import "page-footer/map/map.scss";


