.page-header {
  display: flex;
}

.page-header__wrapper {
  display: flex;
}

.nav-list {
  list-style-type: none;
  font-family: "Oswald Medium";
  text-transform: uppercase;
  color: #111111;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-stretch: normal;
}

.nav-list a {

}

.nav-list a:hover {

}

.nav-list a:focus {

}
