.content-header {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  max-width: 300px;
}

.content-header__title,
.content-header__description {
  font-family: "Oswald Regular";
  color: #ffffff;
  font-weight: normal;
}

.content-header__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.content-header__title {
  font-size: 36px;
  line-height: 36px;
}
